689 Diğer Olağandışı Gider ve Zararlar hesabında izlenen {{ bakiye }}'nin içeriği itibarıyla kanunen kabul edilmeyen gider niteliğinde olup olmadığı ve beyannamede KKEG olarak dikkate alınıp alınmadığı incelenmelidir.
