{{ hesap_etiketi }} hesabının bakiyesi önceki dönemde {{ onceki }} iken cari dönemde {{ cari }}'ye {% if yon == "azalis" %}gerilemiş{% else %}yükselmiş{% endif %} olup{% if yuzde %} değişim oranı %{{ yuzde }}'dir{% else %} önceki dönemde bakiye bulunmamaktadır (yeni oluşan yüksek bakiye){% endif %}. Değişimin nedenlerinin belgeleriyle birlikte incelenmesi gerekmektedir.
